<ff-campaign-advisor unresolved>
  <ff-campaign-advisor-question>
        <span>
            <h1 data-question>{{ '{{{text}}}' }}</h1>
        </span>
    <div>
      <div class="campaign-advisor-container">
        <ff-campaign-advisor-answer>
          <div>{{ '{{{text}}}' }}</div>
        </ff-campaign-advisor-answer>
      </div>
    </div>
  </ff-campaign-advisor-question>
</ff-campaign-advisor>
