{% block component_factfinder_paging %}
  <ff-paging class="pagination" unresolved >
    <ff-paging-item type="firstLink" class="page-item page-first">
      <div class="page-link">
        {% sw_icon 'arrow-medium-double-left' style { size: 'fluid', pack: 'solid'} %}
      </div>
    </ff-paging-item>

    <ff-paging-item type="previousLink" class="page-item page-prev">
      <div class="page-link">
        {% sw_icon 'arrow-medium-left' style { size: 'fluid', pack: 'solid'} %}
      </div>
    </ff-paging-item>

    {% for p in -1..1 %}
      <ff-paging-item type="currentLink{% if p %} {{ p }}{% endif %}" class="page-item{% if not p %} active{% endif %}">
        <div class="page-link">{{ '{{page}}' }}</div>
      </ff-paging-item>
    {% endfor %}

    <ff-paging-item type="nextLink" class="page-item page-next">
      <div class="page-link">
        {% sw_icon 'arrow-medium-right' style { size: 'fluid', pack: 'solid'} %}
      </div>
    </ff-paging-item>

    <ff-paging-item type="lastLink" class="page-item page-last">
      <div class="page-link">
        {% sw_icon 'arrow-medium-double-right' style { size: 'fluid', pack: 'solid'} %}
      </div>
    </ff-paging-item>
  </ff-paging>
{% endblock %}
