{% block sw_cms_element_campaigns_config %}
  <div>

    <sw-switch-field :label="$tc('sw-cms.elements.campaigns.base.advisorCampaign')" v-model:value="element.config.enableAdvisorCampaign.value">
    </sw-switch-field>

    <sw-container v-if="element.config.enableAdvisorCampaign.value">
      <sw-text-field
        :label="$tc('sw-cms.elements.campaigns.base.name')"
        :placeholder="$tc('sw-cms.elements.campaigns.base.advisorCampaignName')"
        v-tooltip="$tc('sw-cms.elements.campaigns.config.leaveFreeIfNotSpecified')"
        v-model:value="element.config.advisorCampaignName.value">
      </sw-text-field>
    </sw-container>

    <sw-switch-field :label="$tc('sw-cms.elements.campaigns.base.feedbackCampaign')" v-model:value="element.config.enableFeedbackCampaign.value">
    </sw-switch-field>

    <sw-container v-if="element.config.enableFeedbackCampaign.value">
      <sw-text-field
        :label="$tc('sw-cms.elements.campaigns.base.label')"
        :placeholder="$tc('sw-cms.elements.campaigns.base.feedbackCampaignLabel')"
        v-tooltip="$tc('sw-cms.elements.campaigns.config.leaveFreeIfNotSpecified')"
        v-model:value="element.config.feedbackCampaignLabel.value">
      </sw-text-field>

      <sw-select-field :label="Flag"
                       v-model:value="element.config.feedbackCampaignFlag.value">
        <option v-for="(flag, index) in campaignFlags"
                :key="index"
                :value="flag"
                :selected="element.config.feedbackCampaignFlag.value === flag">
          {{ flag }}
        </option>
      </sw-select-field>
    </sw-container>

    <sw-switch-field :label="$tc('sw-cms.elements.campaigns.base.redirectCampaign')" v-model:value="element.config.enableRedirectCampaign.value">
    </sw-switch-field>


    <sw-switch-field :label="$tc('sw-cms.elements.campaigns.base.pushedCampaign')" v-model:value="element.config.enablePushedProducts.value">
    </sw-switch-field>
    <sw-container v-if="element.config.enablePushedProducts.value">
      <sw-select-field :label="Flag"
                       v-model:value="element.config.pushedProductsFlag.value">
        <option v-for="(flag, index) in campaignFlags"
                :key="index"
                :value="flag"
                :selected="element.config.pushedProductsFlag.value === flag">
          {{ flag }}
        </option>
      </sw-select-field>
      <sw-text-field
        :label="$tc('sw-cms.elements.campaigns.base.name')"
        :placeholder="$tc('sw-cms.elements.campaigns.base.name')"
        v-tooltip="$tc('sw-cms.elements.campaigns.config.leaveFreeIfNotSpecified')"
        v-model:value="element.config.pushedProductsName.value">
      </sw-text-field>
    </sw-container>
  </div>
{% endblock %}
