{% sw_extends '@Parent/storefront/page/product-detail/tabs.html.twig' %}
{% set product_number = page.product.productNumber %}

{% block page_product_detail_tabs_inner %}
  {% set recordListSliderOptions  = {
    productboxMinWidth: '300px',
    slider: {
      gutter: 30,
      autoplayButtonOutput: false,
      nav: false,
      mouseDrag: false,
      controls: true,
      autoplay: false,
      rewind: false,
    }
  } %}
  {{ parent() }}
  <div class="container">
    {% sw_include '@Parent/storefront/components/factfinder/recommendation.html.twig' %}
    {% sw_include '@Parent/storefront/components/factfinder/similar-products.html.twig' %}
    {% sw_include '@Parent/storefront/components/factfinder/campaign-product.html.twig' %}
    {% sw_include '@Parent/storefront/components/factfinder/campaign-feedbacktext.html.twig' with { flag: 'is-product-campaign' } %}
    {% sw_include '@Parent/storefront/components/factfinder/campaign-pushed-products.html.twig' with {
      recordListTemplate: '@Parent/storefront/components/factfinder/record-list-slider.html.twig',
      origin: 'ff-campaign-pushed-products',
      flag: 'is-product-campaign'
    } %}
  </div>
{% endblock %}
