{% sw_extends '@Parent/storefront/page/product-detail/tabs.html.twig' %}
{% set product_number = page.product.productNumber %}

{% block page_product_detail_tabs_inner %}
  {{ parent() }}
  <div class="container">
    {% sw_include '@Parent/storefront/components/factfinder/recommendation.html.twig' %}
    {% sw_include '@Parent/storefront/components/factfinder/similar-products.html.twig' %}
    {% sw_include '@Parent/storefront/components/factfinder/campaign-product.html.twig' %}
    {% sw_include '@Parent/storefront/components/factfinder/campaign-feedbacktext.html.twig' with { flag: 'is-product-campaign' } %}
    {% sw_include '@Parent/storefront/components/factfinder/campaign-pushed-products.html.twig' with { flag: 'is-product-campaign' } %}
  </div>
{% endblock %}
