{% block cms_block_commerce_factfinder_campaigns_preview %}
  <div class="ff-preview-container">
    {{ $tc('sw-cms.blocks.commerce.factfinderWebComponentsCampaigns.title') }}
  </div>
{% endblock %}

