<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Main Settings</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field>
            <name>serverUrl</name>
            <label>Server URL</label>
            <label lang="de-DE">Server-URL</label>
            <required>true</required>
        </input-field>

        <input-field>
            <name>channel</name>
            <label>Channel</label>
            <required>true</required>
        </input-field>

        <input-field>
            <name>username</name>
            <label>Username</label>
            <label lang="de-DE">Benutzername</label>
            <required>true</required>
        </input-field>

        <input-field type="password">
            <name>password</name>
            <label>Password</label>
            <label lang="de-DE">Passwort</label>
            <required>true</required>
        </input-field>
    </card>

    <card>
        <title>FTP Settings</title>
        <title lang="de-DE">FTP-Konfiguration</title>

        <input-field>
            <name>ftpHost</name>
            <label>Server URL</label>
            <label lang="de-DE">Server-URL</label>
            <required>true</required>
        </input-field>

        <input-field>
            <name>ftpPort</name>
            <label>Port</label>
            <defaultValue>21</defaultValue>
            <label lang="de-DE">Port</label>
            <required>false</required>
        </input-field>

        <input-field>
            <name>ftpUsername</name>
            <label>Username</label>
            <label lang="de-DE">Benutzername</label>
            <required>true</required>
        </input-field>

        <input-field type="password">
            <name>ftpPassword</name>
            <label>Password</label>
            <label lang="de-DE">Passwort</label>
            <required>true</required>
        </input-field>
    </card>
</config>
