<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Main Settings</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field>
            <name>serverUrl</name>
            <label>Server URL</label>
            <label lang="de-DE">Server-URL</label>
            <required>true</required>
        </input-field>

        <input-field>
            <name>channel</name>
            <label>Channel</label>
            <required>true</required>
        </input-field>

        <input-field>
            <name>username</name>
            <label>Username</label>
            <label lang="de-DE">Benutzername</label>
            <required>true</required>
        </input-field>

        <input-field type="password">
            <name>password</name>
            <label>Password</label>
            <label lang="de-DE">Passwort</label>
            <required>true</required>
        </input-field>

        <input-field type="single-select">
            <name>apiVersion</name>
            <options>
                <option>
                    <id>v4</id>
                    <name>v4</name>
                </option>
                <option>
                    <id>v5</id>
                    <name>v5</name>
                </option>
            </options>
            <defaultValue>v4</defaultValue>
            <label>Api Version</label>
            <label lang="de-DE">Api Version</label>
            <required>true</required>
        </input-field>

        <input-field type="bool">
            <name>useSsr</name>
            <label>Use server-side rendering?</label>
            <label lang="de-DE">Use server-side rendering?</label>
        </input-field>

        <component name="update-field-roles">
            <name>fieldRoles</name>
        </component>
    </card>

    <card>
        <title>Advanced Settings</title>
        <title lang="de-DE">Erweiterte Einstellungen</title>

        <input-field type="bool">
            <name>useProxy</name>
            <label>Use Proxy?</label>
            <label lang="de-DE">Use Proxy?</label>
            <helpText>Using Proxy allows you to refine the data coming back from FACT-Finder inside the SDK code. Please refer the documentation for more info.</helpText>
        </input-field>

        <input-field type="single-select">
            <name>trackingAddToCartCount</name>
            <options>
                <option>
                    <id>count_as_one</id>
                    <name>track single click as one</name>
                </option>
                <option>
                    <id>count_selected_amount</id>
                    <name>track single click with selected amount</name>
                </option>
            </options>
            <defaultValue>count_as_one</defaultValue>
            <label>Scenario how to count single click on "Add to cart" button</label>
            <label lang="de-DE">Scenario how to count single click on "Add to cart" button</label>
            <required>true</required>
        </input-field>

        <input-field type="textarea">
            <name>redirectMapping</name>
            <label>Redirect mapping for selected queries</label>
            <helpText>Put each pair "query=url" in separate row. If the phrase appears twice, the first one from the top of the list will be taken.</helpText>
            <placeholder>phrase one=/some/special/link/one
phrase two=https://domain.com/some/special/link/two
            </placeholder>
            <required>false</required>
        </input-field>
    </card>

    <card>
        <title>Export Settings</title>

        <component name="sw-entity-multi-id-select">
            <name>disabledPropertyGroups</name>
            <entity>property_group</entity>
            <label>Select Filter Attributes which should be ignored</label>
        </component>

        <component name="sw-entity-multi-id-select">
            <name>disabledCustomFields</name>
            <entity>custom_field</entity>
            <label>Select Custom Fields which should be ignored</label>
        </component>

        <input-field type="checkbox">
            <name>currencyPriceExport</name>
            <label>Export Prices for all Currencies</label>
        </input-field>

        <input-field type="checkbox">
            <name>enableExportCache</name>
            <label>Enable export cache (decrease export time)</label>
        </input-field>
    </card>

    <card>
        <title>Upload Settings</title>
        <title lang="de-DE">FTP-Konfiguration</title>

        <input-field type="single-select">
            <name>protocol</name>
            <label>Protocol</label>
            <label lang="de-DE">Protocol</label>
            <options>
                <option>
                    <id>ftp</id>
                    <name>FTP</name>
                </option>
                <option>
                    <id>sftp</id>
                    <name>SFTP</name>
                </option>
            </options>
            <required>true</required>
        </input-field>

        <input-field>
            <name>ftpHost</name>
            <label>Server URL</label>
            <label lang="de-DE">Server-URL</label>
            <required>true</required>
        </input-field>

        <input-field>
            <name>ftpPort</name>
            <label>Port</label>
            <defaultValue>21</defaultValue>
            <label lang="de-DE">Port</label>
            <required>false</required>
        </input-field>

        <input-field>
            <name>ftpUsername</name>
            <label>Username</label>
            <label lang="de-DE">Benutzername</label>
            <required>true</required>
        </input-field>

        <input-field type="password">
            <name>ftpPassword</name>
            <label>Password</label>
            <label lang="de-DE">Passwort</label>
            <required>false</required>
            <helpText>If your authentication method does not require user password, please ignore that file</helpText>
        </input-field>

        <input-field>
            <name>rootDir</name>
            <label>Root Directory</label>
            <label lang="de-DE">Root</label>
            <required>false</required>
        </input-field>

        <input-field type="textarea">
            <name>privateKey</name>
            <label>Private Key Content</label>
            <helpText>Put the content of the received key file into the text area. If your authentication method does not require key, please ignore that file</helpText>
            <required>false</required>
        </input-field>

        <input-field type="password">
            <name>keyPassphrase</name>
            <label>Key Passphrase</label>
            <helpText>If your key is not protected with a passphrase, please ignore this field</helpText>
            <required>false</required>
        </input-field>
    </card>

    <card>
        <title>Import Settings</title>
        <title lang="de-DE">Import-Konfiguration</title>
            <input-field type="multi-select">
            <name>pushImport</name>
            <label>Enable Automatic Import for</label>
            <label lang="de-DE">Aktivieren Sie den automatischen Import für</label>
            <options>
                <option>
                    <id>search</id>
                    <name>Search</name>
                </option>
                <option>
                    <id>suggest</id>
                    <name>Suggest</name>
                </option>
                <option>
                    <id>recommendation</id>
                    <name>Recommendation</name>
                </option>
            </options>
        </input-field>
    </card>
</config>
