{% sw_extends '@Parent/storefront/page/search/index.html.twig' %}

{% block page_search %}
  <div class="cms-page search-page">
    {% sw_include '@Parent/storefront/components/factfinder/campaign-feedbacktext.html.twig' %}
    {% sw_include '@Parent/storefront/components/factfinder/campaign-redirect.html.twig' %}
    {% sw_include '@Parent/storefront/components/factfinder/campaign-advisor.html.twig' %}
    {% sw_include '@Parent/storefront/components/factfinder/campaign-pushed-products.html.twig' %}
    {% block page_search_headline %}
      <h1 class="search-headline">
        {% block page_search_headline_text %}
          <ff-template scope="result" unresolved>
            {{ 'ff.search.headlineBefore'|trans|sw_sanitize }}
          </ff-template>
          <ff-breadcrumb-trail unresolved></ff-breadcrumb-trail>
          <ff-template scope="result" unresolved>
            {{ 'ff.search.headlineAfter'|trans|sw_sanitize }}
          </ff-template>
        {% endblock %}
      </h1>
    {% endblock %}
    <div class="cms-block-container">
      <div class="cms-block-container-row row cms-row">
        <div class="col-12">
          <div class="cms-element-sidebar-filter">
            {% block element_product_listing_filter_button %}
              <button class="btn header-actions-btn filter-panel-wrapper-toggle"
                      type="button"
                      data-off-canvas-filter="true"
                      aria-haspopup="true"
                      aria-expanded="false"
                      aria-label="{{ 'general.menuLink'|trans }}">
                {% block element_product_listing_filter_button_icon %}
                  {% sw_icon 'sliders-horizontal' %}
                {% endblock %}
                {{ 'listing.filterTitleText'|trans }}
              </button>
            {% endblock %}

            <div id="filtersOrigin" class="filter-panel-wrapper">
              <div id="filter-panel-wrapper" data-off-canvas-filter-content="true">
                {% sw_include '@Parent/storefront/components/factfinder/asn.html.twig' with { subscribe: true, filterCloud: true } %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cms-element-product-listing-wrapper">
      <div class="cms-element-product-listing">
        {% sw_include '@Parent/storefront/components/factfinder/toolbar.html.twig' %}
        {% sw_include '@Parent/storefront/components/factfinder/record-list.html.twig' with { subscribe: true, class: 'row cms-listing-row', ssr: page.extensions.factfinder.ssr } %}
        {% sw_include '@Parent/storefront/components/factfinder/no-results.html.twig' with { subscribe: true } %}
      </div>
    </div>
  </div>
{% endblock %}

{% block base_script_factfinder_search_redirect %}{% endblock %}
