{% block sw_cms_element_paging_config %}
  <div>
    <sw-text-field
      label="Show Only"
      placeholder="Show Only"
      v-model="element.config.showOnly.value">
    </sw-text-field>
    <sw-switch-field label="Subscribe" v-model="element.config.subscribe.value"></sw-switch-field>
  </div>
{% endblock %}
