{% block cms_block_commerce_factfinder_web_components_record_list %}
    <div class="cms-block-commerce-factfinder-web-components-listing">
      <slot name="toolbarFilters"></slot>
      <div class="flex-container">
        <slot name="toolbarPaging"></slot>
        <slot name="toolbarSorting"></slot>
      </div>
      <slot name="center"></slot>

    </div>
{% endblock %}
