<sw-card-view>

  <sw-card>
    <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
      <sw-entity-single-select
        v-model="salesChannelValue"
        entity="sales_channel"
        id="sales_channel"
        :label="$tc('ui-feed-export.component.export_form.sales_channel.label')">
      </sw-entity-single-select>

      <sw-entity-single-select
        v-model="salesChannelLanguageValue"
        entity="language"
        id="sales_channel_language"
        :label="$tc('ui-feed-export.component.export_form.sales_channel_language.label')">
      </sw-entity-single-select>

      <sw-select-field id="export_type"
                       v-model="exportTypeValue"
                       :label="$tc('ui-feed-export.component.export_form.export_type.label')">
        <option v-for="(key, value) in typeSelectOptions" :value="value">
          {{ value | capitalize }}
        </option>
      </sw-select-field>

    </sw-container>
    <sw-button @click="getFeedExportFile('_action/fact-finder/generate-feed')"
               variant="success"
               block="true"
               size="large">

      {{ $tc('ui-feed-export.component.export_form.button.title') }}
    </sw-button>

    <sw-button @click="refreshExportCache('_action/fact-finder/refresh-export-cache')"
               v-if="isCacheDisable"
               variant="success"
               block="true"
               size="large"
               class="margint10">

      {{ $tc('ui-feed-export.component.export_form.cache_button.title') }}
    </sw-button>
  </sw-card>
</sw-card-view>
